.topsection {
	color: white;
	padding: 0;
	background-color:#000080;
}

h1 {
	color:  white ; background-color:#000080;
	margin-top: -10px;
} 
h2 {
	color:  white ; background-color:#28B463;
	margin-top: -10px;
	padding: 0;

} 
h3 {
	text-align: center;
}

h4 {
	text-align: left;
}

h5 {
	text-align: left;
}

.med-img {
	width: 300px;
}
.col-sm {text-align: left;}
.button {
	background-color: lightblue;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
}

